body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
}

.header, .intro, .info, .quote {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*
.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
} */

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}