body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    height: 100vh;
}

.header, .intro, .info, .quote, .signup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 10%;
    padding-right: 10%;
}

.intro, .info, .quote, .signup {
    flex-grow: 1;
}

.header, .footer {
    flex-basis: 10%;
}

.header, .intro, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    align-self: center;
    padding:10px;
}

.header {
    align-items: center;
}

#logostyle {
    border-radius: 50%;
}

.intro {
    padding-top: 100px;
    padding-bottom: 100px;
}

.image {
    padding-left: 20px;
}

.awesome {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding-bottom: 10px;
}

.words {
    padding-bottom: 10px;
}

.secondary, a {
    font-size: 18px;
    color: #E5E7EB;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 800px;
    color: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pic {
    width:150px;
    height:auto;
    border-radius: 10%;
    border: 2px solid #3882F6;
}

.infographic {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.graphic {
    display: flex;
    flex-direction: column;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.signup {
    display: flex;
    flex-direction: row;
    margin:10%;
    min-height: 20%;
    justify-content: space-around;
    align-items: center;

}

.call {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid red;
    margin: 0px;
}

p {
    border: 2px solid red;
}

.signup button {
    border: 2px white solid;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
}

button, .signup {
    background-color: #3882F6;
    color:#E5E7EB;
    border-radius: 10px;
    border: none;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}