body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    height: 100vh;
}

.header, .intro, .info, .quote, .signup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20%;
    padding-right: 20%;
}

.intro, .info, .quote, .signup {
    flex-grow: 1;
}

.header, .footer {
    flex-basis: 10%;
}

.header, .intro, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.awesome {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.secondary, a {
    font-size: 18px;
    color: #E5E7EB;
}

.info-header {
    font-size: 36px;
    font-weight: 800px;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
}

button, .signup {
    background-color: #3882F6;
    color:#E5E7EB;
}